#affilinet-webext-imageHoverBtn{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 16px;
    color: #333333 !important;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    width: 16px !important;
    height: 16px !important;
    position: absolute;

    top:0;
    bottom:0;
    z-index: 1000000000;
    display:none;
    text-align: left !important;


    img {
        position: relative;
        border: 4px solid white;
        border-radius: 16px;
        background-color:white;
    }

    #affilinet-webext-contextmenu {
        display:none;
        box-sizing: content-box !important;
        padding:10px;
        width: 200px;
        background-color: white;
        border: 1px solid #a2a2a2;
        border-radius: 5px;
        p {
            margin:0 !important;
            padding:0 !important;
        }
        #affilinet-webext-close {
            cursor:pointer;
            box-sizing: content-box !important;
            float: right;
            width: 16px !important;
            height:16px !important;
            margin: 0 !important;
            padding:0 !important;
        }
        .affilinet-webext-row {
            margin:0 0 10px 0 !important;
            padding:0;
            width: 200px;
            &:last-of-type {
                clear: both;
                float: none;
            }
        }
        .affilinet-webext-share,  .affilinet-webext-save , .affilinet-webext-code , .affilinet-webext-deeplink{
            cursor:pointer;
            box-sizing: content-box !important;
            width: 30px;
            height: 30px;
            margin-right: 10px;
            border:0;
            border-radius: 0;
        }
        #affilinet-webext-success-message {
            display: inline-block;
            color: white;
            background-color: #6dc16d;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
        }
        .affilinet-webext-hidden {
            display: none!important;
        }
    }
}
