<div class="row" id="applyNow" ng-show="loadingFinished">
    <div class="col-lg-8">
        <h1>{{program.ProgramTitle.toString()}}</h1>
        <img src="{{program.LogoURL.toString()}}" title="{{program.ProgramTitle.toString()}}">
        <br/>

        <hr>

        <a href="http://publisher.affili.net/Programs/ProgramInfo.aspx?pid={{program.ProgramId.toString()}}"
           class="btn btn-primary btn-lg">{{'APPLY_ApplyNow'|translate}}</a>

        <br>
        <hr>
        <br>

        <div class="widget">
            <div class="widget-body">


                <h2>{{'APPLY_ProgramDesc'|translate}}</h2>

                <p>{{programDescription}}</p>

                <h2>{{'APPLY_ProgramLimits'|translate}}</h2>
                <p> {{limitationsComment}}</p>

                <a ng-href="{{program.ProgramURL.toString()}}" target="_blank">{{'APPLY_LinkToSite'|translate}}</a>
            </div>
        </div>


    </div>
    <div class="col-lg-4">


        <div class="widget">
            <div class="widget-body">


                <strong>{{'APPLY_ProgramStartStatus'|translate}}</strong>
                <p><span class="pull-left"><i class="fa fa-check-circle"></i> {{program.ProgramStatusEnum.toString()|translate}}</span>
                    <span class="pull-right">{{ LaunchDate }} </span></p>

                <hr>
                <strong>{{'APPLY_PartnerShipStatus'|translate}}</strong>
                <p><span class="pull-left"><i class="fa fa-check-circle"></i> {{program.PartnershipStatus.toString()|translate}}</span>
                    <span class="pull-right"></span></p>
            </div>

        </div>


        <hr>

        <a href="http://publisher.affili.net/Programs/ProgramInfo.aspx?pid={{program.ProgramId.toString()}}"
           class="btn btn-primary btn-block">{{'APPLY_ApplyNow'|translate}}</a>


    </div>
</div>

<div class="row" ng-hide="loadingFinished">
    <div class="col-lg-12 text-center">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
</div>