<div class="row" id="news" ng-show="loadingFinished">
    <div class="col-lg-12">
        <tabset>
            <tab heading="{{'NEWS_NewPrograms'|translate}}">

                <table class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>{{'NEWS_Image'|translate}}</th>
                        <th>{{'NEWS_ProgramName'|translate}}</th>
                        <th>{{'NEWS_Apply'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="program in newPrograms">
                        <td>
                            <a ui-sref="applynow({'programId' : program.ProgramId.toString()})"><img
                                    ng-src="{{program.LogoURL.toString()}}"/></a></td>
                        <td>
                            <a class="programName" ui-sref="applynow({'programId' : program.ProgramId.toString()})">{{
                                program.ProgramTitle.toString() }}</a><br/>
                            {{ program.LaunchDate.toString()| amDateFormat:'MM/DD/YYYY' }}
                        </td>
                        <td>
                            <a href="http://publisher.affili.net/Programs/ProgramInfo.aspx?pid={{program.ProgramId.toString()}}"
                               class="btn btn-primary">Apply Now</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </tab>

            <tab heading="{{'NEWS_NewVouchers'|translate}}">

                <table class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th>{{'NEWS_Image'|translate}}</th>
                        <th>{{'NEWS_ProgramName'|translate}}</th>
                        <th>{{'NEWS_VoucherName'|translate}}</th>

                        <th>{{'NEWS_Apply'|translate}}</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="voucher in newVouchers">
                        <td>
                            <a ui-sref="applynow({'programId' : voucher.ProgramId.toString()})" ><img
                                    ng-src="{{voucherProgramInfo[voucher.ProgramId].LogoURL.toString()}}"/></a></td>
                        <td>
                            <a class="programName" ui-sref="applynow({'programId' : voucher.ProgramId.toString()})">{{
                                voucherProgramInfo[voucher.ProgramId].ProgramTitle.toString() }}</a><br/>
                            {{ voucher.StartDate.toString() | amDateFormat:'MM/DD/YYYY' }} - {{
                            voucher.EndDate.toString() | amDateFormat:'MM/DD/YYYY' }}
                        </td>


                        <td>
                            <a class="programName" ui-sref="applynow({'programId' : voucher.ProgramId.toString()})">{{
                                voucher.Title.toString() }}</a>

                        </td>
                        <td>
                            <a href="http://publisher.affili.net/Programs/ProgramInfo.aspx?pid={{voucher.ProgramId.toString()}}"
                               class="btn btn-primary">Apply Now</a>
                        </td>
                    </tr>
                    </tbody>
                </table>


            </tab>

        </tabset>


    </div>
</div>

<div class="row" ng-hide="loadingFinished">
    <div class="col-lg-12 text-center">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
</div>