<div class="row" ng-show="loadingFinished">
    <div class="col-lg-12">

        <tabset>
            <tab heading="{{ 'ORDERS_BY_DAY'|translate}}" select="refreshPlot('chartByDay', month, year)">
                <hr>
                <div class="row">
                    <div class="col-lg-12">

                        <form class="form form-inline" name="dateSelectOne" ng-submit="loadDataByDay(month, year)">
                            <div class="form-group">
                                <select name="month" id="month" class="form-control" ng-model="month">
                                    <option data-ng-repeat="val in months">{{val}}</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <select name="year" id="year" class="form-control" ng-model="year">
                                    <option data-ng-repeat="val in years">{{val}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default" ng-disabled="!dateSelectOne.$dirty">{{
                                'ORDERS_SHOW_STATISTICS'|translate}}
                            </button>
                        </form>

                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12" style="min-height: 350px;">
                        <flot dataset="chartDataByDay" id="chartByDay" options="chartOptionsByDay" width="100%"
                              height="200px" style="height:100px;width:100%;"></flot>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>{{'ORDERS_Date' |translate }}</th>
                                <th>{{'ORDERS_Views' |translate }}</th>
                                <th>{{'ORDERS_Clicks' |translate }}</th>
                                <th>{{'ORDERS_Open' |translate }}
                                    <small>{{ 'ORDERS_Sales_Leads'|translate }}</small>
                                </th>
                                <th>{{'ORDERS_Confirmed' |translate }}
                                    <small>{{ 'ORDERS_Sales_Leads'|translate }}</small>
                                </th>
                                <th>{{'ORDERS_Cancelled' |translate }}
                                    <small>{{ 'ORDERS_Sales_Leads'|translate }}</small>
                                </th>
                                <th>{{'ORDERS_Open' |translate }}
                                    <small>{{ 'ORDERS_Commission'|translate }}</small>
                                </th>
                                <th>{{'ORDERS_Confirmed' |translate }}
                                    <small>{{ 'ORDERS_Commission'|translate }}</small>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="data in tableByDay">
                                <td>{{ data.date }}</td>
                                <td>{{ data.views }}</td>
                                <td>{{ data.clicks }}</td>
                                <td>{{ data.openSaleLeads }}</td>
                                <td>{{ data.confirmedSaleLeads }}</td>
                                <td>{{ data.cancelledSaleLeads }}</td>
                                <td>{{ data.openCommission }}</td>
                                <td>{{ data.commission}}</td>

                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th><strong>Total</strong></th>
                                <th>{{ tableByDaySum.views }}</th>
                                <th>{{ tableByDaySum.clicks }}</th>
                                <th>{{ tableByDaySum.openSaleLeads }}</th>
                                <th>{{ tableByDaySum.confirmedSaleLeads }}</th>
                                <th>{{ tableByDaySum.cancelledSaleLeads }}</th>
                                <th>{{ tableByDaySum.openCommission }}
                                <th>{{ tableByDaySum.commission }}</th>

                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://publisher.affili.net/Statistics/detailsPerDay.aspx" target="_blank"
                           class="btn btn-primary">{{'ORDERS_MoreStatistics'|translate}}</a>
                    </div>
                </div>


            </tab>

            <tab heading="{{'ORDERS_BY_PROGRAM'|translate }}" select="refreshPlot('chartByProgram', month, year)">

                <hr>
                <div class="row">
                    <div class="col-lg-12">

                        <form class="form form-inline" name="dateSelectTwo" ng-submit="loadDataByProgram(month, year)">
                            <div class="form-group">
                                <select name="month" id="month2" class="form-control" ng-model="month">
                                    <option data-ng-repeat="val in months">{{val}}</option>
                                </select>

                            </div>
                            <div class="form-group">
                                <select name="year" id="year2" class="form-control" ng-model="year">
                                    <option data-ng-repeat="val in years">{{val}}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default" ng-disabled="!dateSelectTwo.$dirty">{{
                                'ORDERS_SHOW_STATISTICS'|translate}}
                            </button>
                        </form>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12" style="min-height: 350px;">
                        <flot dataset="chartDataByProgram" id="chartByProgram" options="chartOptionsByProgram"
                              width="100%" height="200px" style="height:100px;width:100%;"></flot>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>{{'ORDERS_ProgramName'|translate}}</th>
                                <th>{{'ORDERS_Views'|translate}}</th>
                                <th>{{'ORDERS_Clicks'|translate}}</th>
                                <th>{{'ORDERS_Open'|translate}}
                                    <small>{{'ORDERS_Sales_Leads'|translate}}</small>
                                </th>
                                <th>{{'ORDERS_Confirmed'|translate}}
                                    <small>{{'ORDERS_Sales_Leads'|translate}}</small>
                                </th>
                                <th>{{'ORDERS_Cancelled'|translate}}
                                    <small>{{'ORDERS_Sales_Leads'|translate}}</small>
                                </th>
                                <th>{{'ORDERS_Open'|translate}}
                                    <small>{{'ORDERS_Commission'|translate}}</small>
                                </th>
                                <th>{{'ORDERS_Confirmed'|translate}}
                                    <small>{{'ORDERS_Commission'|translate}}</small>
                                </th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr data-ng-repeat="data in tableByProgram | orderBy:'-commission'">
                                <td><a ui-sref="applynow({'programId' : data.programId})">{{ data.name }}</a></td>
                                <td>{{ data.views }}</td>
                                <td>{{ data.clicks }}</td>
                                <td>{{ data.openSaleLeads }}</td>
                                <td>{{ data.confirmedSaleLeads }}</td>
                                <td>{{ data.cancelledSaleLeads }}</td>
                                <td>{{ data.openCommission }}</td>
                                <td>{{ data.commission }}</td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="http://publisher.affili.net/Statistics/detailsPerProgram.aspx" target="_blank"
                           class="btn btn-primary">{{'ORDERS_MoreStatistics'|translate}}</a>
                    </div>
                </div>


            </tab>


        </tabset>


    </div>

</div>

<div class="row" ng-hide="loadingFinished">
    <div class="col-lg-12 text-center">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
</div>