
<div class="row searchDiscover" ng-show="loadingFinished">

     <div class="row-fluid">
        <div class="col-xs-8">


            <div class="row-fluid">
                    <form class="form-horizontal row" ng-submit="searchProducts()">

                    <div class="form-group">

                        <label for="search" translate="SEARCHDISCOVER_SearchFieldLabel" class="col-sm-12"></label>
                        <div class="col-sm-12">
                            <input type="text"
                                   ng-model="search"
                                   autocomplete="off"
                                   class="form-control"
                                   id="search"
                                   placeholder="{{'SEARCHDISCOVER_PlaceholderSearch'|translate}}"/>
                        </div>

                    </div>


                    <div class="form-group">

                        <label class="col-sm-12" translate="SEARCHDISCOVER_LabelAllPrograms"></label>
                        <div class="col-sm-12">
                            <oi-select

                                    oi-options="item.programTitle for item in myPrograms track by item.programId"
                                    ng-model="selectedPrograms"
                                    multiple
                                    placeholder="{{'SEARCHDISCOVER_AllPrograms'|translate}}"
                            ></oi-select>

                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-sm-12" translate="SEARCHDISCOVER_LabelShops"></label>
                        <div class="col-sm-12">
                            <i class="fa fa-spin fa-spinner" ng-if="allShopsLoading"></i>
                            <oi-select
                                    oi-options="item.ShopTitle for item in shopsFilteredToSelectedPrograms track by item.ShopId"

                                    ng-model="selectedShops"
                                    ng-disabled="selectedPrograms.length === 0"
                                    multiple
                                    placeholder="{{'SEARCHDISCOVER_PlaceholderShops'|translate}}"
                            ></oi-select>


                        </div>
                    </div>

                    <div class="form-group">

                        <label class="col-sm-12" translate="SEARCHDISCOVER_ShopCategories"></label>
                        <div class="col-sm-12">
                            <i class="fa fa-spin fa-spinner" ng-if="shopCategoriesLoading"></i>
                            <oi-select
                                    oi-options="item.Title for item in shopCategories track by item.Id"
                                    ng-model="selectedShopCategories"
                                    ng-disabled="selectedShops.length !== 1"
                                    multiple
                                    placeholder="{{'SEARCHDISCOVER_PlaceholderShopCategories'|translate}}"
                            ></oi-select>

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-6" translate="SEARCHDISCOVER_PriceMin"></label>

                    </div>
                        <div class="row form-group">
                        <rzslider rz-slider-model="priceSlider.minValue"
                                  rz-slider-high="priceSlider.maxValue"
                                  rz-slider-options="priceSlider.options"></rzslider>
                        </div>
                    <div class="form-group">
                        <div class="col-sm-12">

                            <button type="button"
                                    ng-click="reset()"
                                    class="btn btn-default" translate="SEARCHDISCOVER_ResetButton"></button>

                            <button type="submit"
                                    ng-disabled="search == '' && selectedShopCategories.length === 0"
                                    class="btn btn-primary" translate="SEARCHDISCOVER_SearchButton"></button>
                        </div>
                    </div>

            </form>

            </div>

            <hr class="line">


            <div class="" ng-if="searchFinished">



                <div class="col-xs-12">
                    <h4>{{ totalRecords}} {{ 'SEARCHDISCOVER_Results'|translate}}</h4>

                    <div class="form-inline">
                        <div class="checkbox-inline">
                            <label><input type="checkbox" ng-model="searchDiscoverShowDetails.name" > {{ 'SEARCHDISCOVER_DisplayName'|translate}}</label>
                        </div>
                        <div class="checkbox-inline">
                            <label><input type="checkbox" ng-model="searchDiscoverShowDetails.brand" > {{ 'SEARCHDISCOVER_DisplayBrand'|translate}}</label>
                        </div>
                        <div class="checkbox-inline">
                            <label><input type="checkbox" ng-model="searchDiscoverShowDetails.price" > {{ 'SEARCHDISCOVER_DisplayPrice'|translate}}</label>
                        </div>
                        <div class="checkbox-inline">
                            <label><input type="checkbox" ng-model="searchDiscoverShowDetails.manufacturer" > {{ 'SEARCHDISCOVER_DisplayManufacturer'|translate}}</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row-fluid" ng-if="searching ">

                <i class="fa fa-2x fa-spin fa-spinner"></i>

            </div>


            <div class="row-fluid">
                    <div class="image-col " ng-repeat="(index, product) in productResult" ng-click="toggleProduct(product.ProductId)">
                        <div class="widget">


                            <div class="widget-body text-center"
                                 ng-style="{'background-image':'url({{product.Images[0][0].URL }})'}">

                                        <span class="selectProduct">
                                            <i class="fa fa-2x fa-check-circle" ng-if="selectedProductIds.includes(product.ProductId)"></i>
                                            <i class="fa fa-2x fa-circle-o" ng-if="!selectedProductIds.includes(product.ProductId)"></i>
                                        </span>

                            </div>
                            <div class="widget-footer">
                                <span class="info" ng-if="searchDiscoverShowDetails.name == true">{{product.ProductName}}</span>
                                <span class="info" ng-if="searchDiscoverShowDetails.brand == true">{{product.Brand}}</span>
                                <span class="info" ng-if="searchDiscoverShowDetails.price == true">

                                    {{product.PriceInformation.DisplayPrice}}
                                    <span class="baseprice">
                                        {{product.PriceInformation.DisplayBasePrice}}
                                    </span>
                                </span>
                                <span class="info" ng-if="searchDiscoverShowDetails.manufacturer == true">
                                    {{product.Manufacturer}}</span>
                                <span class="info">{{ product.ShopTitle}}</span>
                            </div>

                        </div>
                    </div>

            </div>
            <div class="row-fluid" ng-if="totalPages > productPage">
                <div class="col-xs-12 text-center">
                    <button ng-click="loadMore()" class="btn btn-primary" translate="SEARCHDISCOVER_LoadMoreBtn"></button>
                </div>
            </div>



        </div>

        <div class="col-xs-4" ng-class="selectedProductIds.length > 0 ? '' : ''">

            <div class="row"  bs-affix data-offset-top="0" data-offset-bottom="0">

                <div class="row">
                    <div class="col-xs-12">
                        <h4 translate="SEARCHDISCOVER_HeadlineSelectedProducts"></h4>


                        <div class="alert alert-success" ng-show="showSuccessMessage == true" translate="SEARCHDISCOVER_ProductsAddedToProductList"></div>

                        <p translate="SEARCHDISCOVER_NoProductsSelected" ng-if="selectedProductIds.length === 0"></p>
                        <div class="small-image-col " ng-repeat="productId in selectedProductIds track by productId"
                             ng-click="toggleProduct(productId)">
                            <div class="widget">
                                <div class="widget-body text-center"
                                     ng-style="{'background-image':'url(' + productDetails[productId].Images[0][0].URL + ')'}">
                                    <span class="hoverOnly">
                                    <i class="fa fa-2x fa-trash-o"></i>
                                    </span>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row">

                    <div class="col-xs-12">
                        <h4 translate="SEARCHDISCOVER_SelectProductListLabel"></h4>
                    </div>



                    <div class="col-xs-8">
                        <oi-select
                                id="productList"
                                oi-options="item.name for item in storedProductLists track by item.id"
                                ng-model="selectedProductList"
                                oi-select-options="{
                                    newItem: true,
                                    saveTrigger: 'blur enter',
                                    newItemFn: 'createProductList($query)',
                                    }"
                                placeholder="{{'SEARCHDISCOVER_SelectProductListPlaceholder'|translate}}"
                        ></oi-select>
                        <a ng-if="selectedProductList" ui-sref="likeList">{{'SEARCHDISCOVER_GoToProductList'|translate}} "{{selectedProductList.name}}"</a>
                    </div>

                    <div class="col-xs-4 ">
                        <button class="btn btn-primary"
                                ng-click="addProductsToProductList()" translate="SEARCHDISCOVER_AddToList"></button>

                    </div>

                    <div class="col-xs-12">
                        <h4 translate="SEARCHDISCOVER_CreateWidgetHeadline"></h4>
                    </div>
                    <div class="col-xs-12">
                        <a ui-sref="widget({ productIds: selectedProductIds })" class="btn btn-primary" translate="SEARCHDISCOVER_BtnAddToWidget"></a>
                    </div>


                </div>







            </div>
        </div>
    </div>


</div>




<div class="row" ng-hide="loadingFinished">
    <div class="col-lg-12 text-center">
        <i class="fa fa-4x fa-spinner fa-spin"></i>
    </div>
</div>

