<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <div class="row">
                    <div class="pull-left"><i class="fa fa-lock"></i> {{'SETTINGS_LoginData'|translate}}</div>
                </div>
            </div>
            <div class="widget-body">

                <form class="form-horizontal row" ng-submit="submitLoginData()" ng-show="credentials !== {}">

                    <div class="form-group">
                        <label for="countryPlatform"
                               class="col-sm-3 control-label">{{'SETTINGS_CountryPlatform'|translate}}</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="countryPlatform" id="countryPlatform" ng-model="credentials.countryPlatform" required >
                                <option value="DE">{{'SETTINGS_CountryPlatformDE'|translate}}</option>
                                <option value=EN>{{'SETTINGS_CountryPlatformEN'|translate}}</option>
                                <option value="FR">{{'SETTINGS_CountryPlatformFR'|translate}}</option>
                                <option value="CH">{{'SETTINGS_CountryPlatformCH'|translate}}</option>
                                <option value="AT">{{'SETTINGS_CountryPlatformAT'|translate}}</option>
                                <option value="ES">{{'SETTINGS_CountryPlatformES'|translate}}</option>
                                <option value="NL">{{'SETTINGS_CountryPlatformNL'|translate}}</option>

                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="publisherId"
                               class="col-sm-3 control-label">{{'SETTINGS_PublisherId'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="credentials.publisherId" autocomplete="off"
                                   class="form-control"
                                   id="publisherId"
                                   required
                                   placeholder="{{'SETTINGS_PublisherId'|translate}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="webservicePassword" class="col-sm-3 control-label">{{'SETTINGS_WebservicePassword'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="credentials.webservicePassword" class="form-control"
                                   autocomplete="off" id="webservicePassword"
                                   required
                                   placeholder="{{'SETTINGS_WebservicePassword'|translate}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="productWebservicePassword" class="col-sm-3 control-label">{{'SETTINGS_productWebservicePassword'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="password" ng-model="credentials.productWebservicePassword" class="form-control"
                                   autocomplete="off" id="productWebservicePassword"
                                   required
                                   placeholder="{{'SETTINGS_productWebservicePassword'|translate}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-sm-3 control-label"></span>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label><input ng-model="credentials.disableImageContextMenu"
                                              id="useimagePin"
                                              type="checkbox" value="">{{'SETTINGS_disableImageContextMenu'|translate}}</label>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" id="save" class="btn btn-default">{{'SETTINGS_save'|translate}}
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <div class="row">
                    <div class="pull-left"><i class="fa" ng-class="icon"></i> {{'SETTINGS_about'|translate}}</div>
                </div>
            </div>
            <div class="widget-body" ng-class="medium">
                <p>
                    <a href="https://publisher.affili.net/Account/techSettingsPublisherWS.aspx?nr=1&pnp=55"
                       target="_blank"><i class="fa fa-question-circle"></i>
                        {{'SETTINGS_findYouPassLinkText'|translate}}</a>
                </p>
                <div class="text-right">
                    <button class="btn btn-default" ng-click="updateProgramData()">{{'SETTINGS_updateProgramDataBtn'|translate}}</button>
                </div>

            </div>

        </div>

    </div>
</div>
