#getCreatives h1 {
  color: #FF3F2C;
  font-size: 18px;
}
#getCreatives h2 {
  font-size: 16px;
  color: #3B302D;
}
#getCreatives .integrationCode {
  font-family: "Courier New", sans-serif;
  font-size: 11px;
  width: 100%;
  min-height: 100px;
}
#getCreatives .creative {
  margin-bottom: 40px;
}
